body,
html {
    background-image: url("Background.jpg");
}

#Header {
    grid-area: 1/1/2/4;
    height: 115px;
    background-color: #212227;
    color: white;
}

label {
    color: #212227;
    font-family: 'Bebas neue', sans-serif;
    font-size: 15pt;
}

#Logo {
    position: absolute;
    width: max-content;
    margin-top: -10px;
    font-family: 'Pacifico', cursive;
    margin-left: 30px;
    font-size: 40pt;
    font-weight: bolder;
    color: #1880ff;
    cursor: pointer;
    user-select: none;
}

.y6 {
    color: white;
    transition: all .50s;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #212227;
}

.p {
    transition: all .40s;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #0021a5;
}

#Logo:hover .y6 {
    font-size: 50pt;
    color: #1880ff;
    -webkit-text-stroke-color: #0021a5;
}

#Logo:hover .p {
    font-size: 30pt;
    color: white;
    -webkit-text-stroke-color: #212227;
}

#NavBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.NavButton {
    cursor: pointer;
    margin: 10px;
    font-size: 25pt;
    font-family: 'Bebas Neue', cursive;
    transition: all .25s;
    user-select: none;
}

.NavButton:hover {
    color: #1880ff;
    font-size: 30pt;
}

.Login {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.Login-content {
    background-color: #fefefe;
    margin-top: 20px;
    /* 5% from the top, 15% from the bottom and centered */
    width: 80%;
    /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

.store-dropdown {
    background-color: #ffffff;
    padding: 2px;
    padding-top: 4px;
    position: absolute;
    top: 76px;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    visibility: hidden;
    transition: all 0.5s;
    border-radius: 10px;
}

.DropDownButton {
    cursor: pointer;
    margin: 0px 15px 0px 15px;
    font-family: 'Bebas Neue', cursive;
    font-size: 15pt;
    transition: all .25s;
    color: #212227;
    user-select: none;
}

.DropDownButton:hover {
    font-size: 17.5pt;
    color: #1880ff;
}

.store-dropdown-items {
    padding: 5px;
    width: 151px;
    border-radius: 10px;
    transition: 1s;
}

#LoggedIn {
    display: none;
}

#Username {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 15pt;
    user-select: none;
}

#Logout {
    position: absolute;
    right: 10px;
    top: 40px;
    font-family: 'Pacifico', cursive;
    font-size: 10pt;
}

.Text_Button {
    cursor: pointer;
    z-index: 1;
    user-select: none;
}

.Text_Button:hover {
    color: #1880ff;
}

header {
    width: 100%;
    height: 70px;
    background-color: #1b262c;
}

h1 {
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: gold;
    animation: fadeInDown;
    animation-duration: 3s;
}

h1:hover {
    color: #0f4c75;
    transition: 0.25s;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
    display: inline-block;
    padding: 20px;
    margin-right: 15px;
    animation: fadeInDown;
    animation-duration: 3s;
}

a {
    color: #bbe1fa;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
}

a:hover {
    color: gold;
    transition: 0.25s;
}

img {
    width: 100%;
    margin-top: -15px;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    bottom: 0;
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 20px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 40%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span {
    color: #5383d3;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
}

#contact {
    width: 90%;
    height: 250px;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #1880ff;
}

#contact-submit {
    width: 80%;
    height: 40px;
    background-color: #393b44;
    color: #1880ff;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 20pt;
    font-family: 'Bebas Neue', cursive;
    border-radius: 15px;
    margin-top: 10px;
}

#contact-submit:hover {
    background-color: #1880ff;
    color: #393b44;
}

.Login-input {
    width: 90%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: #1880ff;
}


/* Set a style for all buttons */

.Loginbutton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

.container69 {
    width: 60%;
}